<div class="content">
    <div class="sign_in_content">
        <div class="logo_content">
            <img src="assets/images/logos/LOGO-TRANSPARENTE-BLANCO.png" alt="">
        </div>
        <div class="sign_in_form">
            <form [formGroup]='signInForm'>
                <div class="input_field">
                    <label>Usuario:</label>
                    <input formControlName='email' type="email" placeholder="Ingrese su usuario">
                </div>
                <div class="input_field">
                    <label>Contraseña:</label>
                    <input formControlName='password' type="password" placeholder="Ingrese su contraseña">
                </div>
            </form>
        </div>
        <div class="button_content">
            <div class="button_primary" (click)='signIn($event)'><p>Iniciar Sesión</p></div>
        </div>
    </div>

</div>

