
.table-container{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    .no-data{
        h1{
            font-size: 20px;
            color: rgba(82, 82, 82, 0.938);;
        }
    }
}

.table-container table{
    width: 100%;
    border-spacing: 0;
    td, th{
        max-width: 300px;
        height: 50px;
        border-top: solid 1px gray;
        border-spacing: 0px;
        span{
            margin: 0px 5px;
            color: rgba(82, 82, 82, 0.938);
            cursor: pointer;
        }
    }
    tr:last-child{
        td{
            border-bottom: solid 1px gray;
        }
    }

}

.text-centered{
    text-align: center;
}