<div class="container">
    <div class="list-container">
        <div class="header">
            <div class="search-field">
                <div class="input_field">
                    <input type="search" placeholder="Buscar" [(ngModel)]="filterEnterprise">
                </div>
            </div>
            <div class="action-button">
                <div mat-ripple class="button_primary" (click)="openMyModal('new-enterprise')">
                    <p>Agregar empresa</p>
                </div>
            </div>
        </div>
        <!-- <app-table [initialData]="enterprises" [titles]="titles" [actions]="actions" [noDataMessage]="'No hay empresas'"></app-table> -->
        <div class="table-container">
            <table *ngIf="enterprises.length!==0" class="table">
                <thead>
                    <tr>
                        <th>Número</th>
                        <th *ngFor="let title of titles" >{{title| titlecase}}</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let row of enterprises | filter:keys:filterEnterprise ; index as i ">
                        <td data-label="Número" class="text-centered">{{i+1}}</td>
                        <td data-label="Nombre"
                            class="enterprise-name text-centered" 
                            matTooltip="Ver empresa" 
                            routerLink="{{row.id}}">{{row.name}}
                        </td>
                        <td data-label="Ubicación" class="text-centered">{{row.city}} / {{row.sector}}</td>
                        <td data-label="Estado" *ngIf="row.isActive" class="text-centered">
                            <!-- <label class="label label-success">Activo</label> -->
                            <span
                                (click)="editEnterpriseState(row.id, row.isActive)"
                                matTooltip="Activo" 
                                matTooltipPosition='right' 
                                class="material-icons active state">toggle_on
                            </span>
                        </td>
                        <td data-label="Estado" *ngIf="!row.isActive" class="text-centered">
                            <!-- <label class="label label-default">Inactivo</label> -->
                            <span
                                (click)="editEnterpriseState(row.id, row.isActive)"
                                matTooltip="Inactivo"
                                matTooltipPosition='right' 
                                class="material-icons default state">toggle_off
                            </span>
                        </td>
                        <td data-label="Equipos" class="text-centered">{{row.machines}}</td>
                        <td data-label="Acciones" class="text-centered">
                            <!-- <span matTooltip="Activar" class="material-icons">visibility_off</span> -->                            
                            <span matTooltip="Editar" class="material-icons" (click)="openModaledit(row)">edit</span>
                            <span matTooltip="Eliminar" class="material-icons" (click)="deleteEnterprise(row.id)">delete</span>
                        </td>
                        <div routerLink="{{row.id}}" mat-ripple class="button_primary responsive_button"><p>Ver empresa</p></div>
                    </tr>
                </tbody>
            </table>
            <div class="no-data" *ngIf="enterprises.length==0">
                <h1>{{noDataMessage}}</h1>
            </div>
        </div>
    </div>
</div>

<app-modal [modalID]="'new-enterprise'" [modalClass]="'md-effect-1'">
    <div class="modal-header">
        <h3>Agregar empresa</h3>
        <button class="md-close" (click)="closeMyModal('new-enterprise')">CERRAR</button>
    </div>
    <div class="modal-content">
        <div class="form-container">
            <form [formGroup]="newEnterpriseForm">
                <div class="input_field">
                    <label>NOMBRE</label>
                    <input 
                        [class.input_field_error]="nameField?.invalid && nameField?.touched" 
                        [class.input_field_correct]="nameField?.valid && nameField?.touched" 
                        formControlName="name" 
                        type="text" 
                        placeholder="Ingrese el nombre de la empresa">
                    <div class="input_errors" *ngIf="nameField?.touched">
                        <p *ngIf="nameField?.hasError('required')"><strong>Este campo es requerido</strong></p>
                    </div>
                </div>
                <div class="input_field">
                    <label>CIUDAD</label>
                    <input 
                        [class.input_field_error]="cityField?.invalid && cityField?.touched" 
                        [class.input_field_correct]="cityField?.valid && cityField?.touched" 
                        formControlName="city" 
                        type="text" 
                        placeholder="Ingrese la cuidad">
                    <div class="input_errors" *ngIf="cityField?.touched">
                        <p *ngIf="cityField?.hasError('required')"><strong>Este campo es requerido</strong></p>
                    </div>
                </div>
                <div class="input_field">
                    <label>SECTOR</label>
                    <input 
                        [class.input_field_error]="sectorField?.invalid && sectorField?.touched" 
                        [class.input_field_correct]="sectorField?.valid && sectorField?.touched" 
                        formControlName="sector" 
                        type="text" 
                        placeholder="Ingrese el sector">
                    <div class="input_errors" *ngIf="sectorField?.touched">
                        <p *ngIf="sectorField?.hasError('required')"><strong>Este campo es requerido</strong></p>
                    </div>
                </div>
            </form>
            <div *ngIf="!isEditing" mat-ripple class="button_primary md-close" (click)="submitForm($event)"><p>Agregar</p></div>
            <div *ngIf="isEditing" mat-ripple class="button_primary md-close" (click)="editEnterprise($event)"><p>Actualizar</p></div>
        </div>
    </div>
</app-modal>